.favorite {
    position: fixed;
    top: var(--fav-position, 400px);
    right: 0;
    width: 100px;
    height: 200px;
    border: 1px solid black;
    border-radius: 10px 0px 0px 10px;
    z-index: 1000;
}

.title {
    background-color: #000046;
    border-radius: 10px 0px 0px 0px;
    color: white;
    text-align: center;
    overflow: hidden;
}

.content {
    color: gray;
    font-size: 12px;
}

.fold_favorite {
    position: fixed;
    top: var(--fav-position, 37%);
    right: 0;
    width: 15px;
    height: 90px;
    background-color: #000046;
    color: white;
    text-align: center;
    vertical-align: middle;
    border-radius: 10px 0px 0px 10px;
    border: 1px solid black;
}

.fold_text {
    margin-top: 35px;
}

ul {
    padding-left: 20%;
}

