footer {
    margin-top: auto;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%; /* 사이드바의 전체 너비에 맞게 설정 */
    height: 50px; /* 적절한 높이 설정 */
    border-top: 3px solid #0EAA00;
    font-size: 6px; /* 사이드바에 맞는 글꼴 크기 설정 */
    box-sizing: border-box; /* 패딩과 테두리 포함 */
}

.language_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0EAA00;
    font-weight: bold;
    outline: none;
    border: none;
    cursor: pointer;
    font-size: 16px; /* Footer의 글꼴 크기와 일치 */
    background-color: transparent;
    height: 100%; /* 버튼의 높이를 Footer와 일치시킴 */
}
