.header{
    position: relative;
    min-width: 600px;
    width:100%; 
    height: 50px;
    background-color:#000046 ;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header_left {
    display: flex;
    align-items: center;
    flex-grow: 1;
}

.header_profile {
    position:absolute;
    right:0px;
    display: flex;
    align-items: center; 
}

.header_name {
    width: 80px;
    height: 50px;
    font-size: 18px;
    text-align: center;
    font-weight: bold;

    color: white;
    
    vertical-align: middle; /* 수직 가운데 정렬 */
    line-height: 50px;
}

img {
    width: 40px;
    height: 40px;
}

.photo{
    display: flex;
    background-color: antiquewhite;
    border-radius: 70%;
    margin-left: 10px;
    margin-right: 10px;
    width: 36px;
    height: 8px;
    padding-bottom: 24%;
    position: relative;
}

.tabBar {
    display: flex;
    border-bottom: 1px solid #ccc;
    align-items: flex-end;
    bottom: 0;
    border-bottom: none;
    position:absolute;
    bottom: 0px;
    overflow-x: auto;
    width: calc(100% - 140px); /* 넓이 조정 */
}

.tab {
    width: 130px;
    padding: 10px;
    cursor: pointer;
    border: 0px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: none;
    background-color: #eaeaea;
    align-items: center;
    border-radius: 10px 10px 0px 0px;
    text-align: center;
    position: relative;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 30px;
}

.activeTab {
    background-color: white;
    font-weight: bold;
}

.home {
    width: 20px;
    min-width: 20px;
    text-align: center;
    padding-right: 10px;
}

.content {
    padding: 20px;
    flex-grow: 1;
    background-color: white;
    border: 1px solid #ccc;
}

.tab button {
    position: absolute;
    right: 2px;
    margin-left: 10px;
    background: none;
    border: none;
    cursor: pointer;
    color: black;
    font-size: 16px;
}

.tab button:hover {
    color: red;
}