.loginBox {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, +100%);
    width: 600px;
    height: 300px;
    border-radius: 10px;
    border: 1px solid #000046;
}
.login_img {
    float: left;
    width: 300px;
    height: 100%;
}

.inlineContainer {
    display: block;
    margin: 15px;
    
}

.logo {
    color: #000046;
    font-size: 30px;
    font-weight: 800;
}