*{
    margin: 0px;

}

#root{
    display:flex;
    height:100vh;
    overflow: hidden;
    font-family: 'Pretendard-Regular';
    font-weight: 400;
    font-style: normal;
}

a {
    text-decoration: none; /* 텍스트 밑줄 제거 */
    color: inherit; /* 부모 요소의 텍스트 색상 상속 */
    background-color: transparent; /* 배경색 제거 */
    outline: none; /* 클릭했을 때 발생하는 아웃라인 제거 */
    cursor: pointer; /* 마우스 커서가 손가락 모양으로 변하게 설정 */
}

.breadcrumb {
    font-size: 0.8rem;
    color: gray;
    margin: 0.8rem 1.5rem;
}