.navigation_container{
    color:white;
    background: linear-gradient(#000046, rgb(49,95,175));
    height: 100vh;
    min-width: 200px;
    flex-shrink: 0;
    align-items: stretch;
    overflow-y: auto;
}

.title a > span:nth-child(1){
    font-size: 30px;
}

.title a > span:nth-child(2){
    font-size: 12px;
}

.title{
    padding-top: 10px;
    padding-left: 10px;
}

