.menu {
    position: relative;
    font-weight: 300;
    font-size: 12px;
    line-height: 15px;
    margin-left: 10px;
    display: flex;
    align-items: center;
    color: #7D7D7D;
    margin-top: 2px;
}

.group_container {
    padding: 20px;
}

.container {
    display: flex;
    justify-content: space-between; /* 컨테이너의 자식 요소를 양쪽 끝에 배치합니다 */
    align-items: center; /* 버튼과 제목을 세로 가운데 정렬합니다 */
    padding: 0.5rem;
}

.table_title {
    position: relative;
    font-weight: bold;
    line-height: 39px;
    font-size: 20px;
    margin-left: 20px;
    display: flex;
    align-items: center;
    color: #000000;
};