.title {
    width: fit-content;
    font-weight: 700;
    font-size: 25px;
    line-height: 34px;
    color: #000000;
    position: relative; 
    margin-bottom: 20px;
    font-family: "SUITE-Regular";
}

/* title 하단의 line css */
.title::after {
    content: ""; 
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    border-bottom: 2px solid #4D5861;     /* 선의 두께와 색상 설정 */
}

.comment {
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
    color: #B6B6B6;
    margin-bottom: 16px;
}

.search_container {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}

.input_with_btn {
    display: flex;
    align-items: center;
    gap: 10px;
}

.search_item {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.search_title {
    font-weight: bolder;
    font-size: 16px;
    line-height: 10px;
    margin-bottom: 8px;
}

.search {
    background: #ECF1F4;
    border-radius: 5px;
    border: none;
    padding: 5px;
    height: 25px;
    width: 160px;
}

.search_code {
    width: 130px;
}

.search_name {
    width: 250px;
}

.search_button {
    width: 80px;
    height: 32px;
    padding: 5px 10px;
    background: #0A7800;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;        /* hover 시 커서 모양을 포인터(손 모양)로 변환 */
}

.search_button:hover{
    background-color: #8AC784;
}

.result_container {
    height: 400px;          /* 모달 창 높이 조절 */
    background: #FFFFFF;
    margin-top: 20px;
    margin-bottom: 120px;
    margin-left: -22px;
}

.select_button {
    width: 100%;            /* 모달 창의 전체 너비로 확장 */
    height: 41px;
    padding: 5px 10px;
    background: #0A7800;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 2rem auto 0;
}

.select_button:hover{
    background-color: #8AC784;
}

.cancel_button{
    width: 100%;            /* 모달 창의 전체 너비로 확장 */
    height: 41px;
    padding: 5px 10px;
    background-color: rgb(100, 100, 100);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 2rem auto 0;
}

.cancel_button:hover {
    background-color: gray;
}

.error_message {
    color: red;
    font-size: 12px;
    /*margin-top: 5px;*/
    opacity: 0;
    animation: fadeIn 0.5s forwards; /* 애니메이션 추가 */
    font-family: "SUITE-Regular";
}

.star {
    color: red;
    font-size: 0.9rem;
}

/* 애니메이션 정의 */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}