.main_grid {
    display: flex;
    flex-direction: column;
    width: 97%;
    margin-right: auto;
    margin-left: auto;
}

.message_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    text-align: center;
}

.message {
    font-weight: bold;
    font-size: 1.15rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}

button {
    background-color: #0EAA00; /* 원하는 배경색으로 설정 */
    color: white; /* 텍스트 색상 */
    border: none;
    cursor: pointer;
    border-radius: 4px;
    font-size: 16px;
    padding: 8px;
}

button:hover {
    background-color: #8AC784; /* 마우스 오버 시 배경색 */
}

.project_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: flex-start;
    gap: 1rem;
    width: 100%;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
}

/* .row:first-of-type {
    margin-bottom: 1rem;
} */

.pjt_data_container {
    display: flex;
    flex-direction: column;
    min-width: 10px;
    word-wrap: break-word;  /* 내용이 길 경우 줄바꿈이 되도록 설정 */
    gap: 0.5rem;
    font-size: 0.9rem;
    font-weight: 900;
    color: #0A7800;
}

.right_aligned {
    margin-left: auto; /* 버튼을 오른쪽 끝으로 고정 */
    align-self: flex-end;
}

.code {
    background-color: #E5F1E4;
    text-align: center;
    padding: 9px;
    font-size: 0.9rem;
    color: #000;
    min-height: 10px;
    border-radius: 0.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 1px;
    gap: 1rem;
    margin-top: 10px;
    padding: 1rem;
}

.contents_container {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.card_container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 20px;
    padding-top: 5px;
    height: 100%;
}

.contents_header {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    font-weight: bold;
    line-height: 39px;
    font-size: 20px;
    align-items: center;
    padding: 8px;
}

.table_title {
    justify-content: flex-start;
    position: relative;
    font-weight: bold;
    line-height: 39px;
    font-size: 20px;
    display: flex;
    align-items: center;
    color: #000000;
    padding: 8px;
}

.table_button {
    justify-content: flex-end;
}

.search_container {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 20px;
    flex-wrap: wrap;
    border: 2px solid #EBEBEB;
    border-radius: 0.5rem;
}

.search_item {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.search_title {
    font-weight: bolder;
    font-size: 16px;
    line-height: 10px;
    color: #0A7800;
}

.input_with_btn {
    display: flex;
    align-items: center;
    gap: 10px;
}

.input_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin-top: '20px'
}

.search_button {
    width: 80px;
    height: 32px;
    padding: 5px 10px;
    background: #0EAA00;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;        /* hover 시 커서 모양을 포인터(손 모양)로 변환 */
}

.search_button:hover{
    background-color: #8AC784;
}

.result_container {
    height: 100%;          /* 모달 창 높이 조절 */
    background: #FFFFFF;
    margin-top: 20px;
}

.select_button {
    padding: 5px 10px;
    background: #0EAA00;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    float: right;
    margin-top: 20px;
}

.select_button:hover{
    background-color: #8AC784;
}

.cancel_button {
    width: 100%;            /* 모달 창의 전체 너비로 확장 */
    height: 41px;
    padding: 5px 10px;
    background-color: rgb(100, 100, 100);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 2rem auto 0;
}

.cancel_button:hover {
    background-color: gray;
}