.form_container {
  width: 95%;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  border: 2px solid #ccc; /* 테두리 추가 */
  border-radius: 8px; /* 모서리를 둥글게 */
  padding: 20px 30px 5px 30px; /* 내부 여백 추가 */
  margin: 30px; /* 양 옆 여백 */
}

.form_item {
  width: 280px;
}

.input_button_container {
  display: flex;
  align-items: center;
  gap: 8px;
}

.input_field {
  width: 70%;
}

.modal_button {
  width: 30%;
}

.full_width {
  flex: 1; /* 수정 */
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
