.form_container {
  width: 97%;
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  border: 1px solid #ccc; /* 테두리 추가 */
  border-radius: 8px; /* 모서리를 둥글게 */
  padding: 1.25rem 1.9rem 0.3rem 1.9rem; /* 내부 여백 추가 */
  /* margin: 30px; 양 옆 여백 */
  margin: 1rem auto;
  background-color: white;
}
